extends ./public/email-templates/default.pug
block content
    .wrapper(style="color: #70B9F6; font-weight: 300; padding: 30px;")
        .title-wrapper
            .title(style="font-size: 28px; color: #626262; font-weight: 300; display:inline-block; vertical-align:top;")= title
        .message(style="font-size:18px;color: #808080; margin: 20px 0")= message
        a(href=token,style="display: block; width: 105px;background: #6EBAF9; text-decoration: none; color: #fff; margin: 30px 0 0 0; padding: 10px 15px;")= restore
